
Analyse des données : Pandas Exemples 

Exercice 1 :

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [45]:

# Création du DataFrame
df = pd.DataFrame({'A': [1, 2, 1, 4, 3, 5, 2, 3, 4, 1],
                   'B': [12, 14, 11, 16, 18, 18, 22, 13, 21, 17],
                   'C': ['a', 'a', 'b', 'a', 'b', 'c', 'b', 'a', 'b', 'a']})

print("\nQ2:")
# Affichage du DataFrame
print(df)

print("\nQ3:")
# Statistiques descriptives
print(df.describe())

Q2:
   A   B  C
0  1  12  a
1  2  14  a
2  1  11  b
3  4  16  a
4  3  18  b
5  5  18  c
6  2  22  b
7  3  13  a
8  4  21  b
9  1  17  a

Q3:
               A          B
count  10.000000  10.000000
mean    2.600000  16.200000
std     1.429841   3.705851
min     1.000000  11.000000
25%     1.250000  13.250000
50%     2.500000  16.500000
75%     3.750000  18.000000
max     5.000000  22.000000

In [46]:
print("\nQ4:")
# Description de la colonne 'C'
print(df['C'].describe())

Q4:
count     10
unique     3
top        a
freq       5
Name: C, dtype: object

Exerxixe 2:

In [47]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [48]:
#Importation data Frame Salaire
salaires = pd.read_csv('Salaries.csv')

In [49]:
# Affichage des 50 premiers enregistrements
print(salaires.head(50))

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960

In [50]:
# Affichage des 10 derniers enregistrements
print(salaires.tail(10))

         rank discipline  phd  service     sex  salary
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [51]:
# Type de la colonne 'salary'
print(salaires['salary'].dtype)

print("**************************")
print("\n")
# Types de toutes les colonnes
print(salaires.dtypes)

int64
**************************


rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [52]:
# Nombre d'enregistrements
print(len(salaires))
print("**************************")
# Noms des colonnes
print(salaires.columns)

78
**************************
Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [53]:
# Description de toutes les données
print(salaires.describe())
print("**************************")
# Accès aux colonnes 'discipline' et 'salary'
print(salaires[['discipline', 'salary']])

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000
**************************
   discipline  salary
0           B  186960
1           A   93000
2           A  110515
3           A  131205
4           B  104800
..        ...     ...
73          B  105450
74          B  104542
75          B  124312
76          A  109954
77          A  109646

[78 rows x 2 columns]

In [54]:
#Affichage des 5 premières valeurs de la colonne 'service'
print(salaires['service'].head(5))

print("\n")
print("**************************")

# Comptage de la colonne 'service'
print(salaires['service'].value_counts())

0    49
1     6
2    20
3    31
4    18
Name: service, dtype: int64


**************************
service
3     7
19    6
0     6
18    5
2     4
7     4
8     4
6     3
20    3
10    3
17    3
23    3
14    2
11    2
15    2
27    2
31    2
33    2
30    1
51    1
9     1
24    1
26    1
1     1
22    1
5     1
4     1
25    1
36    1
45    1
21    1
43    1
49    1
Name: count, dtype: int64

In [55]:
# Tri par services (décroissant) puis par salaires (croissant)
print(salaires.sort_values(by=['service', 'salary'], ascending=[False, True]))

print("\n")
print("**************************")

# Salaires des professeurs hommes
print(salaires[salaires['sex'] == 'Male']['salary'])

        rank discipline  phd  service     sex  salary
9       Prof          A   51       51    Male   57800
0       Prof          B   56       49    Male  186960
36      Prof          B   45       45    Male  146856
27      Prof          A   45       43    Male  155865
40      Prof          A   39       36  Female  137000
..       ...        ...  ...      ...     ...     ...
43  AsstProf          B    5        0  Female   77000
23  AsstProf          A    2        0    Male   85000
12  AsstProf          B    1        0    Male   88000
17  AsstProf          B    4        0    Male   92000
52      Prof          A   12        0  Female  105000

[78 rows x 6 columns]


**************************
0     186960
1      93000
2     110515
3     131205
4     104800
5     122400
6      81285
7     126300
8      94350
9      57800
10    128250
11    134778
12     88000
13    162200
14    153750
15    150480
16     75044
17     92000
18    107300
19    150500
20     92000
21    103106
22     73000
23     85000
24     91100
25     99418
26    148750
27    155865
28     91300
29    123683
30    107008
31    155750
32    103275
33    120000
34    119800
35    126933
36    146856
37    102000
38     91000
Name: salary, dtype: int64

In [56]:
# Tableau récapitulatif des moyennes des salaires par rang et par sexe
print(salaires.groupby(['rank', 'sex'])['salary'].mean())

rank       sex
AssocProf  Female     88512.800000
           Male      102697.666667
AsstProf   Female     78049.909091
           Male       85918.000000
Prof       Female    121967.611111
           Male      124690.142857
Name: salary, dtype: float64

Exercice 3:

In [57]:
print("Q1:")
# Max des salaires par Rank
print(salaires.groupby('rank')['salary'].max())
print("\nQ2:")
# Moyenne des salaires pour les femmes
print(salaires[salaires['sex'] == 'Female']['salary'].mean())
print("\nQ3:")
# Moyenne des salaires pour les profs de discipline 'A'
print(salaires[salaires['discipline'] == 'A']['salary'].mean())
print("\nQ4:")
# Min et max des salaires par Rank et par discipline
print(salaires.groupby(['rank', 'discipline'])['salary'].agg(['min', 'max']))

Q1:
rank
AssocProf    119800
AsstProf      97032
Prof         186960
Name: salary, dtype: int64

Q2:
101002.41025641025

Q3:
98331.11111111111

Q4:
                        min     max
rank      discipline
AssocProf A           62884   81285
          B           71065  119800
AsstProf  A           63100   85000
          B           74692   97032
Prof      A           57800  155865
          B           99418  186960