In [2]:
import pandas as pd
import numpy

In [3]:
print('pd version: ',pd.__version__)
df = pd.read_table("heart.txt",sep = '\t',header = 0)

pd version:  2.0.3

In [4]:
print(df.shape)
print(df.head(20))

(270, 13)
    age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
0    70  masculin            D       130        322     A       C       109
1    67   feminin            C       115        564     A       C       160
2    57  masculin            B       124        261     A       A       141
3    64  masculin            D       128        263     A       A       105
4    74   feminin            B       120        269     A       C       121
5    65  masculin            D       120        177     A       A       140
6    56  masculin            C       130        256     B       C       142
7    59  masculin            D       110        239     A       C       142
8    60  masculin            D       140        293     A       C       170
9    63   feminin            D       150        407     A       C       154
10   59  masculin            D       135        234     A       A       161
11   53  masculin            D       142        226     A       C       111
12   44  masculin            C       140        235     A       C       180
13   61  masculin            A       134        234     A       A       145
14   57   feminin            D       128        303     A       C       159
15   71   feminin            D       112        149     A       A       125
16   46  masculin            D       140        311     A       A       120
17   53  masculin            D       140        203     B       C       155
18   64  masculin            A       110        211     A       C       144
19   40  masculin            A       140        199     A       A       178

   angine  depression  pic vaisseau     coeur
0     non         2.4    2        D  presence
1     non         1.6    2        A   absence
2     non         0.3    1        A  presence
3     oui         0.2    2        B   absence
4     oui         0.2    1        B   absence
5     non         0.4    1        A   absence
6     oui         0.6    2        B  presence
7     oui         1.2    2        B  presence
8     non         1.2    2        C  presence
9     non         4.0    2        D  presence
10    non         0.5    2        A   absence
11    oui         0.0    1        A   absence
12    non         0.0    1        A   absence
13    non         2.6    2        C  presence
14    non         0.0    1        B   absence
15    non         1.6    2        A   absence
16    oui         1.8    2        C  presence
17    oui         3.1    3        A  presence
18    oui         1.8    2        A   absence
19    oui         1.4    1        A   absence

In [5]:
print(df.columns)

Index(['age', 'sexe', 'type_douleur', 'pression', 'cholester', 'sucre',
       'electro', 'taux_max', 'angine', 'depression', 'pic', 'vaisseau',
       'coeur'],
      dtype='object')

In [6]:
print(df.dtypes,)
print(df.info())

age               int64
sexe             object
type_douleur     object
pression          int64
cholester         int64
sucre            object
electro          object
taux_max          int64
angine           object
depression      float64
pic               int64
vaisseau         object
coeur            object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           270 non-null    int64
 1   sexe          270 non-null    object
 2   type_douleur  270 non-null    object
 3   pression      270 non-null    int64
 4   cholester     270 non-null    int64
 5   sucre         270 non-null    object
 6   electro       270 non-null    object
 7   taux_max      270 non-null    int64
 8   angine        270 non-null    object
 9   depression    270 non-null    float64
 10  pic           270 non-null    int64
 11  vaisseau      270 non-null    object
 12  coeur         270 non-null    object
dtypes: float64(1), int64(5), object(7)
memory usage: 27.6+ KB
None

In [7]:
print(df.describe(include='all'))

               age      sexe type_douleur    pression   cholester sucre  \
count   270.000000       270          270  270.000000  270.000000   270
unique         NaN         2            4         NaN         NaN     2
top            NaN  masculin            D         NaN         NaN     A
freq           NaN       183          129         NaN         NaN   230
mean     54.433333       NaN          NaN  131.344444  249.659259   NaN
std       9.109067       NaN          NaN   17.861608   51.686237   NaN
min      29.000000       NaN          NaN   94.000000  126.000000   NaN
25%      48.000000       NaN          NaN  120.000000  213.000000   NaN
50%      55.000000       NaN          NaN  130.000000  245.000000   NaN
75%      61.000000       NaN          NaN  140.000000  280.000000   NaN
max      77.000000       NaN          NaN  200.000000  564.000000   NaN

       electro    taux_max angine  depression         pic vaisseau    coeur
count      270  270.000000    270   270.00000  270.000000      270      270
unique       3         NaN      2         NaN         NaN        4        2
top          C         NaN    non         NaN         NaN        A  absence
freq       137         NaN    181         NaN         NaN      160      150
mean       NaN  149.677778    NaN     1.05000    1.585185      NaN      NaN
std        NaN   23.165717    NaN     1.14521    0.614390      NaN      NaN
min        NaN   71.000000    NaN     0.00000    1.000000      NaN      NaN
25%        NaN  133.000000    NaN     0.00000    1.000000      NaN      NaN
50%        NaN  153.500000    NaN     0.80000    2.000000      NaN      NaN
75%        NaN  166.000000    NaN     1.60000    2.000000      NaN      NaN
max        NaN  202.000000    NaN     6.20000    3.000000      NaN      NaN

In [8]:
print(df['sexe'])

0      masculin
1       feminin
2      masculin
3      masculin
4       feminin
         ...
265    masculin
266    masculin
267     feminin
268    masculin
269    masculin
Name: sexe, Length: 270, dtype: object

In [9]:
print(df.sexe)

0      masculin
1       feminin
2      masculin
3      masculin
4       feminin
         ...
265    masculin
266    masculin
267     feminin
268    masculin
269    masculin
Name: sexe, Length: 270, dtype: object

In [10]:
print(df[['sexe','sucre']])

         sexe sucre
0    masculin     A
1     feminin     A
2    masculin     A
3    masculin     A
4     feminin     A
..        ...   ...
265  masculin     B
266  masculin     A
267   feminin     A
268  masculin     A
269  masculin     A

[270 rows x 2 columns]

In [11]:
print(df['age'].head())

0    70
1    67
2    57
3    64
4    74
Name: age, dtype: int64

In [12]:
print(df['age'].tail())

265    52
266    44
267    56
268    57
269    67
Name: age, dtype: int64

In [13]:
print(df['age'].describe())

count    270.000000
mean      54.433333
std        9.109067
min       29.000000
25%       48.000000
50%       55.000000
75%       61.000000
max       77.000000
Name: age, dtype: float64

In [14]:
#calculer explicitement la moyenne
print(df['age'].mean())
#sum
print(df['age'].sum())
#min
print(df['age'].min())
#max 
print(df['age'].max())

54.43333333333333
14697
29
77

In [15]:
print(df['type_douleur'].value_counts())

type_douleur
D    129
C     79
B     42
A     20
Name: count, dtype: int64

In [16]:
print("première valeur")
print(df['age'][0])
print("3 premières valeurs")
print(df['age'][0:3])
#ou bien donc
print(df.age[0:3])

première valeur
70
3 premières valeurs
0    70
1    67
2    57
Name: age, dtype: int64
0    70
1    67
2    57
Name: age, dtype: int64

In [17]:
print(df['age'].sort_values())

214    29
174    34
138    34
224    35
81     35
       ..
15     71
255    71
4      74
73     76
199    77
Name: age, Length: 270, dtype: int64

In [18]:
print(df.sort_values(by='age').head())

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
214   29  masculin            B       130        204     A       C       202
174   34  masculin            A       118        182     A       C       174
138   34   feminin            B       118        210     A       A       192
224   35   feminin            D       138        183     A       A       182
81    35  masculin            D       120        198     A       A       130

    angine  depression  pic vaisseau     coeur
214    non         0.0    1        A   absence
174    non         0.0    1        A   absence
138    non         0.7    1        A   absence
224    non         1.4    1        A   absence
81     oui         1.6    2        A  presence

In [19]:
for col in df.columns:
    print(df[col].dtype)

int64
object
object
int64
int64
object
object
int64
object
float64
int64
object
object

In [20]:
#fonction call back NUMPY
def operation(x):
    return(x.mean())

#la selection select_dtypes() permet d'exclure les variables non numériques
resultat = df.select_dtypes(exclude=['object']).apply(operation,axis=0)
print(resultat)

age            54.433333
pression      131.344444
cholester     249.659259
taux_max      149.677778
depression      1.050000
pic             1.585185
dtype: float64

In [21]:
#accès à la valeur située en (0,0)
print(df.iloc[0,0])

70

In [22]:
print(df.iloc[-1,0])
#ou bien
print(df.iloc[df.shape[0]-1,0])

67
67

In [23]:
#5 premières valeurs de toutes les colonnes
#lignes => 0:5 (0 à 5 [non inclus])
#colonnes = : (toutes les colonnes)
print(df.iloc[0:5,:])

   age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
0   70  masculin            D       130        322     A       C       109
1   67   feminin            C       115        564     A       C       160
2   57  masculin            B       124        261     A       A       141
3   64  masculin            D       128        263     A       A       105
4   74   feminin            B       120        269     A       C       121

  angine  depression  pic vaisseau     coeur
0    non         2.4    2        D  presence
1    non         1.6    2        A   absence
2    non         0.3    1        A  presence
3    oui         0.2    2        B   absence
4    oui         0.2    1        B   absence

In [24]:
#avec l'indiçage négatif, on peut facilement accéder aux 5 dernières lignes
print(df.iloc[-5:,:])

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
265   52  masculin            C       172        199     B       A       162
266   44  masculin            B       120        263     A       A       173
267   56   feminin            B       140        294     A       C       153
268   57  masculin            D       140        192     A       A       148
269   67  masculin            D       160        286     A       C       108

    angine  depression  pic vaisseau     coeur
265    non         0.5    1        A   absence
266    non         0.0    1        A   absence
267    non         1.3    2        A   absence
268    non         0.4    2        A   absence
269    oui         1.5    2        D  presence

In [25]:
#5 premières lignes et colonnes 0, 1 et 4
#on a une liste d'indices en colonne
print(df.iloc[0:5,[0,2,4]])

   age type_douleur  cholester
0   70            D        322
1   67            C        564
2   57            B        261
3   64            D        263
4   74            B        269

In [26]:
#ou encore, pour exactement la même chose
#remarquez le rôle de 2 dans 0:5:2
print(df.iloc[0:5,0:5:2])

   age type_douleur  cholester
0   70            D        322
1   67            C        564
2   57            B        261
3   64            D        263
4   74            B        269

In [27]:
#liste des individus présentant une douleur de type A
print(df.loc[df['type_douleur'] == "A",:])

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
13    61  masculin            A       134        234     A       A       145
18    64  masculin            A       110        211     A       C       144
19    40  masculin            A       140        199     A       A       178
37    59  masculin            A       160        273     A       C       125
63    60   feminin            A       150        240     A       A       171
64    63  masculin            A       145        233     B       C       150
85    42  masculin            A       148        244     A       C       178
87    59  masculin            A       178        270     A       C       145
118   66   feminin            A       150        226     A       A       114
143   51  masculin            A       125        213     A       C       125
158   56  masculin            A       120        193     A       C       162
160   38  masculin            A       120        231     A       A       182
169   65  masculin            A       138        282     B       C       174
170   69  masculin            A       160        234     B       C       131
174   34  masculin            A       118        182     A       C       174
198   69   feminin            A       140        239     A       A       151
205   52  masculin            A       152        298     B       A       178
210   59  masculin            A       170        288     A       C       159
228   58   feminin            A       150        283     B       C       162
229   52  masculin            A       118        186     A       C       190

    angine  depression  pic vaisseau     coeur
13     non         2.6    2        C  presence
18     oui         1.8    2        A   absence
19     oui         1.4    1        A   absence
37     non         0.0    1        A  presence
63     non         0.9    1        A   absence
64     non         2.3    3        A   absence
85     non         0.8    1        C   absence
87     non         4.2    3        A   absence
118    non         2.6    3        A   absence
143    oui         1.4    1        B   absence
158    non         1.9    2        A   absence
160    oui         3.8    2        A  presence
169    non         1.4    2        B  presence
170    non         0.1    2        B   absence
174    non         0.0    1        A   absence
198    non         1.8    1        C   absence
205    non         1.2    2        A   absence
210    non         0.2    2        A  presence
228    non         1.0    1        A   absence
229    non         0.0    2        A   absence

In [28]:
print(df['type_douleur'] == "A")

0      False
1      False
2      False
3      False
4      False
       ...
265    False
266    False
267    False
268    False
269    False
Name: type_douleur, Length: 270, dtype: bool

In [29]:
print ((df['type_douleur'] == "A").value_counts())

type_douleur
False    250
True      20
Name: count, dtype: int64

In [30]:
#pour un ensemble de valeurs de la même variable,
#nous utilisons isin()
print(df.loc[df['type_douleur'].isin(['A','B']),:])

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
2     57  masculin            B       124        261     A       A       141
4     74   feminin            B       120        269     A       C       121
13    61  masculin            A       134        234     A       A       145
18    64  masculin            A       110        211     A       C       144
19    40  masculin            A       140        199     A       A       178
..   ...       ...          ...       ...        ...   ...     ...       ...
262   58  masculin            B       120        284     A       C       160
263   49  masculin            B       130        266     A       A       171
264   48  masculin            B       110        229     A       A       168
266   44  masculin            B       120        263     A       A       173
267   56   feminin            B       140        294     A       C       153

    angine  depression  pic vaisseau     coeur
2      non         0.3    1        A  presence
4      oui         0.2    1        B   absence
13     non         2.6    2        C  presence
18     oui         1.8    2        A   absence
19     oui         1.4    1        A   absence
..     ...         ...  ...      ...       ...
262    non         1.8    2        A  presence
263    non         0.6    1        A   absence
264    non         1.0    3        A  presence
266    non         0.0    1        A   absence
267    non         1.3    2        A   absence

[62 rows x 13 columns]

In [31]:
#liste des individus présentant une douleur de type A et angine == oui
print(df.loc[(df['type_douleur']== "A") & (df['angine'] == "oui"),:])

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
18    64  masculin            A       110        211     A       C       144
19    40  masculin            A       140        199     A       A       178
143   51  masculin            A       125        213     A       C       125
160   38  masculin            A       120        231     A       A       182

    angine  depression  pic vaisseau     coeur
18     oui         1.8    2        A   absence
19     oui         1.4    1        A   absence
143    oui         1.4    1        B   absence
160    oui         3.8    2        A  presence

In [32]:
#liste des personnes de moins de 45 ans, de sexe masculin, présentant une maladie cardiaque
print(df.loc[(df['age'] < 45) & (df['sexe'] == "masculin") & (df['coeur'] == "presence")])

     age      sexe type_douleur  pression  cholester sucre electro  taux_max  \
40    40  masculin            D       152        223     A       A       181
47    44  masculin            D       110        197     A       C       177
50    42  masculin            D       136        315     A       A       125
81    35  masculin            D       120        198     A       A       130
147   40  masculin            D       110        167     A       C       114
160   38  masculin            A       120        231     A       A       182
182   41  masculin            D       110        172     A       C       158
193   35  masculin            D       126        282     A       C       156
231   39  masculin            D       118        219     A       A       140
237   43  masculin            D       120        177     A       C       120
252   44  masculin            D       112        290     A       C       153

    angine  depression  pic vaisseau     coeur
40     non         0.0    1        A  presence
47     non         0.0    1        B  presence
50     oui         1.8    2        A  presence
81     oui         1.6    2        A  presence
147    oui         2.0    2        A  presence
160    oui         3.8    2        A  presence
182    non         0.0    1        A  presence
193    oui         0.0    1        A  presence
231    non         1.2    2        A  presence
237    oui         2.5    2        A  presence
252    non         0.0    1        B  presence

In [33]:
#projection dans une liste 
colonnes = ['age','sexe','coeur','taux_max']

print(df.loc[(df['age'] < 45) & (df['sexe'] == "masculin") & (df['coeur'] == "presence"),colonnes])

     age      sexe     coeur  taux_max
40    40  masculin  presence       181
47    44  masculin  presence       177
50    42  masculin  presence       125
81    35  masculin  presence       130
147   40  masculin  presence       114
160   38  masculin  presence       182
182   41  masculin  presence       158
193   35  masculin  presence       156
231   39  masculin  presence       140
237   43  masculin  presence       120
252   44  masculin  presence       153

In [34]:
#fréquences selon sexe et coeur - cela ressemnble à table() de R
print(pd.crosstab(df['sexe'],df['coeur']))

coeur     absence  presence
sexe
feminin        67        20
masculin       83       100

In [35]:

#nous pouvons demander un post-traitement, à la différence de table() de R
#pourcentage en ligne
print(pd.crosstab(df['sexe'],df['coeur']))

coeur     absence  presence
sexe
feminin        67        20
masculin       83       100

In [36]:
print(pd.crosstab(df['sexe'],df['type_douleur'],normalize='index'))
print(pd.crosstab(df['sexe'],df['coeur'],normalize='index'))

type_douleur         A         B         C         D
sexe
feminin       0.045977  0.183908  0.367816  0.402299
masculin      0.087432  0.142077  0.256831  0.513661
coeur      absence  presence
sexe
feminin   0.770115  0.229885
masculin  0.453552  0.546448

In [41]:
#nous pouvons aussi insérer un champ calculé, comme avec les TCD d'Excel#ex. moyenne d'âge selon le sexe et la maladie
#nous utilisons la fonction mean() de la classe Series de la librairie Pandas#cela nous rapproche plus des fonctions tapply() ou aggregate() de R
print(pandas.crosstab(df['sexe'],df['coeur'],values=df['age'],aggfunc=pd.Series.mean))

NameError: name 'pandas' is not defined

In [39]:
#une autre manière de faire avec la commande pivot_table()#pour exactement le même résultat
print(df.pivot_table(index=['sexe'],columns=['coeur'],values=['age'],aggfunc=pd.Series.mean))

                age
coeur       absence presence
sexe
feminin   54.582090    59.35
masculin  51.192771    56.04